<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controller.CartRepository"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gear_shop_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GearShop"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name="com.example.gearshop.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:exported="false" />
        <activity android:name=".activity.ProductsInCategoryActivity"
            android:exported="false"/>
        <activity android:name=".activity.SignUpActivity"
            android:exported="false"/>
        <activity android:name=".activity.CategoryActivity"
            android:exported="false"/>
        <activity android:name=".activity.CategoryDetailActivity"
            android:exported="false"/>
        <activity android:name=".activity.AccountActivity"
            android:exported="false"/>
        <activity android:name=".activity.EditUserInfoActivity"
            android:exported="false"/>


        <activity
            android:name=".activity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>